
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<br />
<div class="container" style="text-align: center">
    <a class="twitter-timeline" data-width="800" data-height="1000" href="https://twitter.com/CDCgov?ref_src=twsrc%5Etfw">Tweets by CDCgov</a>
    <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
</div>


